:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
}
button:hover {
  border-color: #646cff;
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
span{
  margin: 5px;
}

.temp_app{
  width:300px;
  height: 400px;
  background-color: #4972a7;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 65% 35%;

}



button{
  border-radius: 50%;
  width:70px;
  height:70px;
  background-color: rgb(133, 133, 133);
  border: 2px solid white;
  grid-row: 2/2;
  margin: 20px;
  color: white;
  font-size: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.temp{
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row:1/2;
  margin: 40px 0 0 47px;
  color: white;
  font-size: 40px;
}

.container{
  height: 250px;
  width: 700px;

}